{#src/Resources/app/administration/src/module/sw-cms/blocks/webnetz/category-slider/component/sw-cms-block-category-slider.html.twig#}

{% block sw_cms_block_category_slider %}
    <div class="sw-cms-block-category-slider">
        <slot name="categorySlider"></slot>
    </div>
{% endblock %}